<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/style/main.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Список категорій</title>
</head>

<body class="body">
    <a class="btn btn-outline-secondary" href="/" style="margin-left: 50px;">На головну</a>
    <h1 class="text-center">Список категорій</h1>
    <div class="table-responsive">
        <table class="table table-primary table-hover table-sm">
            <tr>
                <th>Код категорії</th>
                <th>Назва</th>
                <th>Опис</th>
                <th></th>
                <th></th>
            </tr>
            <% for (var i=0; i < Categories.length; i++) { %>
                <tr>
                    <td>
                        <%= Categories[i].category_id %>
                    </td>
                    <td>
                        <%= Categories[i].category_name %>
                    </td>
                    <td>
                        <%= Categories[i].description %>
                    </td>
                    <td>
                        <a class="btn btn-danger"
                            href="/api/categories/delete/<%= Categories[i].category_id%>">Видалити</a>
                    </td>
                    <td>
                        <a class="btn btn-info"
                            href="/api/categories/edit/<%= Categories[i].category_id%>">Редагувати</a>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>
    <h2 class="text-center">Додати категорію</h2>
    <form action="/api/categories" method="POST" class="text-center">
        <div class="mb-3">
            <label class="form-label">Код категорії</label>
            <input type="number" placeholder="id" class="form-control" id="category_id" name="category_id" min="1">
        </div>
        <div class="mb-3">
            <label class="form-label">Назва категорії</label>
            <input type="text" class="form-control" placeholder="Назва" id="category_name" name="category_name">
        </div>
        <div class="mb-3">
            <label class="form-label">Опис категорії</label>
            <input type="text" class="form-control" placeholder="Опис" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Додати</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>