<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Редагування</title>
</head>

<body>
    <h1 class="text-center">Редагувати продукт</h1>
    <form action="" method="POST" class="text-center">
        <div class="mb-3">
            <label class="form-label">
                ID продукту
                <input type="number" placeholder="id" class="form-control" id="product_id" name="product_id" min="1"
                    value="<%= Product[0].product_id %>">
            </label>
            <label class="form-label">
                Назва продукту
                <input type="text" class="form-control" placeholder="Назва" id="name" name="name" style="width:300px"
                    value="<%= Product[0].name %>">
            </label>
            <label class="form-label">
                Опис продукту
                <input type="text" class="form-control" placeholder="Опис" id="description" name="description"
                    style="width:300px" value="<%= Product[0].description %>">
            </label>
            <label class="form-label">
                Ціна
                <input type="number" class="form-control" placeholder="Ціна" id="price" name="price" min="0" step="0.01"
                    value="<%= Product[0].price %>">
            </label>
            <label class="form-label">
                Кількість на складі
                <input type="number" class="form-control" placeholder="Кількість" id="stock_quantity"
                    name="stock_quantity" min="0" value="<%= Product[0].stock_quantity %>">
            </label>
            <label class="form-label">
                ID категорії
                <input type="number" class="form-control" placeholder="ID категорії" id="category_id" name="category_id"
                    min="1" value="<%= Product[0].category_id %>">
            </label>
        </div>
        <button type="submit" class="btn btn-primary" formaction="/api/product/put/<%= Product[0].product_id %>">
            Редагувати
        </button>
    </form>
    <a class="btn btn-info" href="/api/product">Повернутися</a>
</body>

</html>

